[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.sheet {
    margin-bottom: 24px;
    background-color: #fff;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    border: 0;
    padding: 24px;
}

.login-form-buttons {
    text-align: center;
}

.divider {
    width: 29%;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: solid 1px #d2d2d2;
    display: inline-block;
    position: relative;
    top: -4px;
}

.or-divider {
    text-align: center;
    margin-top: 24px;
}

@media (max-width: 992px) {
    .filtering {
        display: none;
    }
}

.residences {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group .list-group-item.residence:not(:last-child), .list-group .list-group-item.member:not(:last-child) {
    border-bottom: 1px solid #DADADA;
}


.list-group .list-group-item.residence {
    padding-top: 16px;
    padding-bottom: 16px;
}

.list-group .list-group-item.member {
    padding-top: 8px;
    padding-bottom: 8px;
}


#loading-bar .bar {
    background: #004849;
}

#loading-bar .peg {
    -moz-box-shadow: #00CCB9 1px 0 6px 1px;
    -ms-box-shadow: #00CCB9 1px 0 6px 1px;
    -webkit-box-shadow: #00CCB9 1px 0 6px 1px;
    box-shadow: #00CCB9 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  #00CCB9;
    border-left-color: #00CCB9;
}

.user-list table > tbody > tr > td {
    vertical-align: middle;
}

.user-list table > tbody > tr > td:first-child  {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.form-group {
    position: initial;
}

.last-profile-row {
    margin-bottom: 100px;
}

.pagination {
    padding-top: 0;
}

.search-row {
    margin-left: 20px;
}

.search-row .input-group {
    display: block;
}

.search-opened:after {
    font-family: 'Glyphicons Halflings';
    content:" \e114";
}

.search-collapsed:after {
    font-family: 'Glyphicons Halflings';
    content:" \e113";
}

.residence-divider {
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: solid 1px #d2d2d2;
    padding-bottom: 30px;
}

.residence-secondary {
    padding-top: 10px;
}

.residence-extra-features {
    margin-left: 10px;
}

.well .residence-info-well {
    background: #009688 !important;
}

.residence-h3 {
    color: #FFFFFF;
    margin: 20px auto;
}

.residence-h4 {
    color: #FFFFFF;
}

.residence-info-small {
    color: #d2d2d2;
    font-weight: bold;
}

.nav-pills>li>a {
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    border-bottom: 3px solid;
    border-bottom-color: #009688;
    background-color: #FFFFFF;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #009688;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    border-bottom: 3px solid;
    border-bottom-color: #009688;
    background-color: #FFFFFF;
}

.extraService-tr {
    color: #9d9d9d;
}