<div class="container-fluid col-md-12">
    <div class="well col-md-8 col-md-offset-2">
        <form class="form-horizontal">
            <fieldset>
                <h2>Sukurti rezidenciją</h2>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pavadinimas</label>
                    <div class="col-md-9">
                        <input ng-model="residence.name" class="form-control" placeholder="Pavadinimas">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kaina dienai €</label>
                    <div class="col-md-9">
                        <input type="number" ng-model="residence.price" class="form-control" placeholder="Kaina dienai">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Vietų sk.</label>
                    <div class="col-md-9">
                        <input type="number" ng-model="residence.total" class="form-control" placeholder="Maksimalus vietų skaičius">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Aprašymas</label>
                    <div class="col-md-9">
                        <textarea ng-model="residence.description" class="form-control" placeholder="Aprašymas" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Galioja nuo</label>
                    <div class="col-md-9">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="residence.sinceDate" is-open="popup1.opened" />
                            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Galioja iki</label>
                    <div class="col-md-9">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="residence.untilDate" is-open="popup2.opened" />
                            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Papildomos paslaugos</label>
                    <div class="col-md-9">
                        <p class="input-group">
                            <input type="text" class="form-control" placeholder="Papildoma paslauga" ng-model="service" />
                            <span class="input-group-btn">
            <button type="button" class="btn btn-default" uib-tooltip="Pridėti paslaugą" ng-click="createService()"><i class="glyphicon glyphicon-plus"></i></button>
          </span>
                        </p>
                    </div>
                </div>
                <div ng-if="services.length > 0" class="form-group">
                    <label class="col-md-2 control-label">Pridėtos paslaugos</label>
                    <div class="col-md-9">
                        <span style="margin-right: 10px" ng-repeat="(key, service) in services">
                          <span>{{service}}</span>
                        <i role="button" style="color: #009688" ng-click="removeService(key)" uib-tooltip="Pašalinti paslaugą" class="glyphicon glyphicon-remove"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="login-form-buttons">
                        <button ng-click="create()" class="btn btn-primary">Sukurti</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>