<div class="container-fluid col-md-12">
    <div class="well col-md-8 col-md-offset-2">
        <form class="form-horizontal">
            <fieldset>
                <h2>{{Title}}</h2>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nuotrauka</label>
                    <div class="col-md-9">
                        <input role="button" type="file" fileread="residence.image">
                        <input type="text" class="form-control" placeholder="Pasirinkite nuotrauką...">
                        </input>
                        <validation errorMessages="{{errorMessages}}" key="image"></validation>
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-2">
                    <img width="400" class="img-responsive" ng-src="{{residence.image}}">
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pavadinimas</label>
                    <div class="col-md-9">
                        <input ng-model="residence.name" class="form-control" placeholder="Pavadinimas">
                        <validation errorMessages="{{errorMessages}}" key="name"></validation>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Kaina dienai taškais</label>
                    <div class="col-md-9">
                        <input type="number" ng-model="residence.weeklyPrice" class="form-control" placeholder="Kaina dienai">
                        <validation errorMessages="{{errorMessages}}" key="weeklyPrice"></validation>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Vietų sk.</label>
                    <div class="col-md-9">
                        <input type="number" ng-model="residence.capacity" class="form-control" placeholder="Maksimalus vietų skaičius">
                    <validation errorMessages="{{errorMessages}}" key="capacity"></validation>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Adresas</label>
                    <div class="col-md-9">
                        <input ng-model="residence.address" class="form-control" placeholder="Vietovės adresas">
                    <validation errorMessages="{{errorMessages}}" key="address"></validation>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Aprašymas</label>
                    <div class="col-md-9">
                        <textarea ng-model="residence.description" class="form-control" placeholder="Aprašymas" rows="3"></textarea>
                        <validation errorMessages="{{errorMessages}}" key="description"></validation>
                    </div>
                </div>
                <div class="form-group" ng-controller="datePickerController">
                    <label class="col-md-2 control-label">Galioja nuo</label>
                    <div class="col-md-9">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="residence.availability.dateFrom"
                                is-open="popup.opened" datepicker-options="inlineOptions" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <validation errorMessages="{{errorMessages}}" key="dateFrom"></validation>
                    </div>
                </div>
                <div class="form-group" ng-controller="datePickerController">
                    <label class="col-md-2 control-label">Galioja iki</label>
                    <div class="col-md-9">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="residence.availability.dateTo"
                                is-open="popup.opened" datepicker-options="inlineOptions" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    <validation errorMessages="{{errorMessages}}" key="dateTo"></validation>
                    </div>
                </div>
                <div class="form-group" ng-controller="servicesController" onload="myFunction()">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Papildomos paslaugos</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Papildomos paslaugos pavadinimas" ng-model="service.name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Papildomos paslaugos kaina</label>
                        <div class="col-md-9">
                            <p class="input-group">
                                <input type="number" class="form-control" placeholder="Papildomos paslaugos kaina" ng-model="service.price" ng-model="service.price"
                                />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" uib-tooltip="Pridėti paslaugą" ng-click="createService()"><i class="glyphicon glyphicon-plus"></i></button>
                                </span>
                            </p>
                            <span style="margin-right: 10px" ng-repeat="service in services track by $index">
                                <span>{{service.name}}, {{service.price}} tšk.</span>
                            <i role="button" style="color: #009688" ng-click="removeService($index)" uib-tooltip="Pašalinti paslaugą" class="glyphicon glyphicon-remove"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="login-form-buttons">
                            <button ng-click="saveResidence(services)" class="btn btn-primary">Išsaugoti</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>