<div class="col-md-12">
    <div class="well">
        <h2>Rezidencijų administravimas</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 form-group label-floating is-empty">
                <div class="input-group">
                    <label class="control-label" for="inviteMember">Filtruoti rezidencijas</label>
                    <input ng-model="searchInput" class="form-control">
                    <span class="input-group-btn">
                <button ng-click="search()" type="button" class="btn btn-fab btn-fab-mini">
                  <i class="material-icons">search</i>
                </button>
              </span>
                </div>
                <span class="material-input"></span>
            </div>
        </div>
        <div class="row table-responsive user-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Pavadinimas</th>
                        <th>Dienos kaina</th>
                        <th>Maks. vietų</th>
                        <th>Adresas</th>
                        <th >Actions</th>
                    </tr>
                </thead>
                <tbody ng-cloak>
                    <tr ng-repeat="residence in residences">
                        <td>{{residence.id}}</td>
                        <td>{{residence.name}}</td>
                        <td>{{residence.dailyPrice}}</td>
                        <td>{{residence.capacity}}</td>
                        <td>{{residence.address}}</td>
                        <td>
                            <button ng-click="updateResidence(residence.id)" class="btn btn-success btn-raised">Redaguoti
                        </button>
                            <button ng-click="deleteResidence(residence.id)" class="btn btn-danger btn-raised">Ištrinti
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>