<div class="col-md-12">
    <h2>Klubo nariai</h2>

    <div class="row">
        <div class="col-md-9">

            <div class="well members">
                <div class="list-group">
                    <div class="list-group-item member">
                        <div class="row">
                            <div class="col-md-2">
                                <img class=" img-thumbnail img-responsive img-circle" src="http://placehold.it/350x250" width="75" alt="placehold.it/350x250">
                            </div>
                            <div class="col-md-4">
                                <p class="margin-v-5">Lukas Jasmontas</p>
                                <p class="margin-v-0">Vilnius</p>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-left">
                                    <p class="margin-v-5">jasmontas.lukas@gmail.com</p>
                                    <p class="margin-v-0">862931482</p>
                                </div>
                                <div class="actions pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-circle" data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-option-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a role="button" ng-click="">Papersti</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item member">
                        <div class="row">
                            <div class="col-md-2">
                                <img class=" img-thumbnail img-responsive img-circle" src="http://placehold.it/350x250" width="75" alt="placehold.it/350x250">
                            </div>
                            <div class="col-md-4">
                                <p class="margin-v-5">Lukas Jasmontas</p>
                                <p class="margin-v-0">Vilnius</p>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-left">
                                    <p class="margin-v-5">jasmontas.lukas@gmail.com</p>
                                    <p class="margin-v-0">862931482</p>
                                </div>
                                <div class="actions pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-circle" data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-option-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a role="button" ng-click="">Papersti</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            Filtravimas
        </div>
    </div>
</div>