<div class="col-md-12">
    <div class="well">
        <h2>Klubo nariai</h2>
        <div class="table-responsive user-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created at</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody ng-cloak>
                    <tr ng-repeat="member in members">
                        <td>{{member.id}}</td>
                        <td>{{member.name + ' ' + member.surname}}</td>
                        <td>{{member.email}}</td>
                        <td>{{member.registrationDate | date}}</td>
                        <td>{{member.role}}</td>
                        <td>
                            <button class="btn btn-success btn-raised">Patvirtinti</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>