<div class="col-md-8 col-md-offset-2 col-xs-12 sheet">
    <form class="form-horizontal">
        <fieldset>
            <legend>Prisijungimas</legend>
            <div class="login-form-buttons">
                <a href="javascript:void(0)" ng-click="loginWithFb()"><img src="public/images/facebook-button.png"/>
                </a>
            </div>
            <div class="or-divider">
                <div class="divider"></div>
                <span>Arba</span>
                <div class="divider"></div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-md-2 control-label">El. paštas</label>

                <div class="col-md-10">
                    <input ng-model="loginInfo.username" type="email" class="form-control" id="inputEmail" placeholder="El. paštas">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-md-2 control-label">Slaptažodis</label>

                <div class="col-md-10">
                    <input ng-model="loginInfo.password" type="password" class="form-control" id="inputPassword" placeholder="Slaptažodis">
                </div>
            </div>
            <div class="form-group">
                <div class="login-form-buttons">
                    <button ng-click="login()" class="btn btn-primary">Prisijungti</button>
                    <a ui-sref="register" class="btn btn-info">Registruotis</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>