<div class="col-md-12">
    <div class="well">
        <h2>Klubo nariai</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 form-group label-floating is-empty">
                <div class="input-group">
                    <label class="control-label" for="inviteMember">Pakviesti naują klubo narį</label>
                    <input ng-model="newUserEmail" type="email" id="inviteMember" class="form-control">
              <span class="input-group-btn">
                <button ng-click="invite(newUserEmail)" type="button" class="btn btn-fab btn-fab-mini">
                  <i class="material-icons">send</i>
                </button>
              </span>
                </div>
                <span class="material-input"></span>
            </div>
        </div>
        <div class="row table-responsive user-list">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Vardas</th>
                    <th>Pavardė</th>
                    <th>Registracijos data</th>
                    <th>Rolė</th>
                    <th>Veiksmai</th>
                </tr>
                </thead>
                <tbody ng-cloak>
                <tr ng-repeat="member in members">
                    <td>{{$index + 1}}</td>
                    <td><a class="member-link" ui-sref="memberProfile({memberId: member.id})">{{member.name + ' ' + member.surname}}</a></td>
                    <td>{{member.email}}</td>
                    <td>{{member.registrationDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{member.role | rolesFilter}}</td>
                    <td>
                        <button ng-click="verifyUser(member.id)" ng-show="member.role === 'CANDIDATE' && !member.recommendedByCurrentUser"
                                class="btn btn-success btn-raised">Patvirtinti
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>