<div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="well">
        <h2>Profilio informacija</h2>
        <div ng-if="user.role === 'ADMIN'">
            <p style="color: red">Jūs esate kandidatas, todėl jums reikia gauti rekomendaciją iš kito/kitų narių.</p>
            <div class="form-group">
                <label class="col-md-2 control-label">Narių el. paštai rekomendacijoms</label>
                <div class="col-md-9">
                    <p class="input-group">
                        <input type="email" class="form-control" placeholder="El. paštas" ng-model="email" />
                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" uib-tooltip="Pridėti el. paštą" ng-click="addEmail(email)"><i class="glyphicon glyphicon-plus"></i></button>
                                 <button ng-click="askRecomendations()" class="btn btn-success btn-sm btn-raised">Prašyti rekomendacijų</button>
                                </span>
                    </p>
                    <span style="margin-right: 10px" ng-repeat="(key, email) in emails track by $index">
                                <span>{{email}}</span>
                    <i role="button" style="color: #009688" ng-click="removeEmail($index)" uib-tooltip="Pašalinti el. paštą" class="glyphicon glyphicon-remove"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputName" class="col-md-2 control-label">Vardas</label>
            <div class="col-md-10">
                <input ng-readonly="!isAdmin" ng-model="user.name" type="text" class="form-control" id="inputName" placeholder="Vardas">
                <validation errors="errorMessages" key="name"></validation>
            </div>
        </div>
        <div class="form-group">
            <label for="inputSurname" class="col-md-2 control-label">Pavardė</label>
            <div class="col-md-10">
                <input ng-readonly="!isAdmin" ng-model="user.surname" type="text" class="form-control" id="inputSurname" placeholder="Pavardė">
                <validation errors="errorMessages" key="surname"></validation>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-md-2 control-label">El. paštas</label>
            <div class="col-md-10">
                <input ng-readonly="!isAdmin" ng-model="user.email" type="email" class="form-control" id="inputEmail" placeholder="El. paštas">
                <validation errors="errorMessages" key="email"></validation>
            </div>
        </div>
        <div>
            <label for="points" class="col-md-2 control-label">Klubo taškai</label>
            <div ng-class="isCurrentUser ? 'col-md-4' : 'col-md-10'">
                <input ng-readonly="true" ng-model="user.balance" type="text" class="form-control" id="points" placeholder="Klubo taškai">
            </div>
            <div ng-show="isCurrentUser" class="col-md-6">
                <button ng-click="openModal()" class="btn btn-success btn-raised">Nusipirkti taškų</button>
            </div>
        </div>
        <div ng-show="isMember" ng-class="!isAdmin ? 'last-profile-row form-group' : 'form-group'">
            <label for="lastPayment" class="col-md-2 control-label">Paskutinio metinio mokesčio data</label>
            <div ng-class="isCurrentUser ? 'col-md-4' : 'col-md-10'">
                <input ng-readonly="true" ng-model="lastPaymentDate" type="date" class="form-control" id="lastPayment" placeholder="Mokėjimo data">
            </div>
            <div ng-show="isCurrentUser" class="col-md-6">
                <button ng-click="payAnnualPayment()" class="btn btn-success btn-raised">Sumokėtin nario mokestį</button>
            </div>
        </div>
        <div class="form-group">
            <div class="login-form-buttons">
                <button ng-show="isAdmin || isCurrentUser" ng-click="update()" class="btn btn-info">Atnaujinti profilį</button>
                <button ng-show="isCurrentUser" ng-click="remove()" class="btn btn-danger">Ištrinti paskyrą</button>
            </div>
        </div>
    </div>
</div>