<div class="col-md-12">
    <div class="well">
        <h2>Mano rezervacijos</h2>
        <div class="row table-responsive user-list">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Pavadinimas</th>
                    <th>Kaina</th>
                    <th>Rezervacijos pradžia</th>
                    <th>Rezervacijos pabaiga</th>
                    <th>Veiksmai</th>
                </tr>
                </thead>
                <tbody ng-cloak>
                <tr ng-repeat="reservation in reservations">
                    <td>{{$index + 1}}</td>
                    <td><a class="member-link" ui-sref="viewResidence({id: reservation.residence.id})">{{reservation.residence.name}}</a>
                    </td>
                    <td>{{reservation.price}}</td>
                    <td>{{reservation.duration.dateFrom | date}}</td>
                    <td>{{reservation.duration.dateTo | date}}</td>
                    <td>
                        <button ng-click="cancelReservation(reservation.id)" class="btn btn-danger btn-raised">Atšaukti Rezervaciją
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>