<div class="col-md-12">
    <div class="row">
        <div class="well residences">
            <h2>Vasarnamiai</h2>
            <div class="list-group">
                <div class="list-group-item residence" ng-repeat="residence in residences track by $index">
                        <div class=" col-md-3">
                            <figure class="pull-left">
                                <img class=" img-thumbnail img-responsive" ng-src="{{residence.image}}" width="350" height="250" alt="placehold.it/350x250">
                            </figure>
                        </div>
                    <div class="col-md-6">
                            <a role="button"><h4> {{residence.name}} </h4></a>
                            <p class="list-group-item-text"> {{residence.description}}</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <h2> <small> Laisvos vietos: </small> {{residence.capacity}} </h2>
                            <button ng-click="onView(residence.id)" type="button" class="btn btn-default btn-lg btn-block" > Peržiūrėti </button>
                            <div class="text-center">
                                <span><i class="glyphicon glyphicon-euro"></i>{{residence.weeklyPrice}}</span>
                                <span><i class="glyphicon glyphicon-tree-deciduous"></i>{{residence.city.name}} </span>
                            </div>
                            <!--
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                            </button>
                            -->
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

