<body>

<!-- "residence.name" "residence.weeklyPrice" "residence.capacity" "residence.address" "residence.description" -->
<div class="col-md-8 col-md-offset-2">
    <div class="well row">
        <h2>{{residence.name}}</h2>
        <div class="row residence-divider">
            <div class="col-md-7">
                <img class="img-thumbnail img-responsive" ng-src="{{residence.image}}" width="400" height="300">
            </div>
            <div class="col-md-5 col-sm-6 col-xs-7">
                <div class="info-panel panel panel-default">
                    <div class="panel-heading">Informacija</div>
                    <table class="table">
                        <tr>
                            <td>Vietos</td>
                            <td>{{residence.capacity}}</td>
                        </tr>
                        <tr>
                            <td>Miestas</td>
                            <td>{{residence.city.name}}</td>
                        </tr>
                        <tr>
                            <td>Adresas</td>
                            <td>{{residence.address}}</td>
                        </tr>
                        <tr>
                            <td>Sav. kaina</td>
                            <td>{{residence.weeklyPrice}}</td>
                        </tr>
                        <tr>
                            <td>Rezervavimas</td>
                            <td>nuo {{residence.availability.dateFrom}} iki {{residence.availability.dateTo}}</td>
                        </tr>
                    </table>
                </div>
                <button ng-click="reserveResidence(residence.id)" type="button" class="btn btn-success btn-raised">
                    Rezervuoti
                </button>
            </div>
        </div>
        <div class="row residence-secondary residence-divider">
            <div class="container col-md-12 col-sm-12">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="tab" href data-target="#details">Aprašymas</a></li>
                    <li><a data-toggle="tab" href data-target="#extraServices">Papildomos paslaugos</a></li>
                    <li><a data-toggle="tab" href data-target="#history">Užsakymų istorija</a></li>
                </ul>
                <br>
            </div>

            <div class="tab-content">
                <div id="details" class="tab-pane fade in active">
                    <div class="col-md-12">
                        <p class="list-group-item-text"> {{residence.description}}</p>
                    </div>
                </div>
                <div id="extraServices" class="tab-pane fade">
                    <div class="col-md-12 ">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="extraService-tr">Pavadinimas</th>
                                <th class="extraService-tr">Taškai</th>
                                <th class="extraService-tr">Aprašymas</th>
                            </tr>
                            </thead>
                            <tbody ng-cloak>
                            <tr ng-repeat="extraService in residence.extraServices track by $index">
                                <td>{{extraService.name}}</td>
                                <td>{{extraService.price}}</td>
                                <td>Info todo</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <div id="history" class="tab-pane fade">
                        <div class="col-md-12 ">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="extraService-tr">Narys</th>
                                    <th class="extraService-tr">Nuo</th>
                                    <th class="extraService-tr">Iki</th>
                                </tr>
                                </thead>
                                <tbody ng-cloak>
                                <tr ng-repeat="residenceEvent in residenceHistory track by $index">
                                    <td>{{residenceEvent.user.fullName}}</td>
                                    <td>{{residenceEvent.duration.dateFrom}}</td>
                                    <td>{{residenceEvent.duration.dateTo}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>